<div class="hor-menu   hidden-sm hidden-xs">
  <ul class="nav navbar-nav">
    <li class="classic-menu-dropdown <%= current_item?(products_path) ? 'active' : '' %>" aria-haspopup="true">
      <a href="<%= products_path %>"> 商品
        <span class="selected"> </span>
      </a>
    </li>
    <li class="classic-menu-dropdown" aria-haspopup="true">
      <a href="javascript:void(0);"> 訂單
        <span class="selected"> </span>
      </a>
    </li>
    <li class="classic-menu-dropdown" aria-haspopup="true">
      <a href="javascript:void(0);"> 促銷活動
        <span class="selected"> </span>
      </a>
    </li>
  </ul>
</div>
