<tr>
  <td align="center">
    <p class="form-control-static">
    -
    </p>
  </td>
  <td>
    <p class="form-control-static">
      <%= title %>
    </p>
  </td>
  <td align="center">
    <p class="form-control-static gift-quantity-<%= item.id %>">
      <%= item.quantity %>
    </p>
  </td>
  <td>
    <p class="form-control-static">
      <%= "##{index + 1} 贈品"  %>
    </p>
  </td>
  <td>
    <p class="form-control-static">
    $ 0
    </p>
  </td>
  <td>
    <p class="form-control-static">
    $ 0
    </p>
  </td>
  <td></td>
</tr>
