<div class="fixed-table-toolbar">
  <div class="btn-group pull-left">
    <%= link_to(new_admin_addition_path, class: 'btn blue' ) do %>
    <i class="fa fa-plus"></i>
    <% end %>
  </div>
  <div class="pull-right search">
    <button id="search-btn" class="btn btn-default" type="buttton" name="search" title="search"><i class="fa fa-search"></i></button>
  </div>
  <div class="pull-right search">
    <input id="keyword" class="form-control input-inline" type="text" value="<%= params[:title] %>" placeholder="過濾產品名稱">
  </div>
</div>
