<div class="page-bar">
  <%= breadcrumb('商品加購') %>
</div>
<h1 class="page-title">商品加購</h1>

<%= render partial: 'toolbar' %>
<%= render partial: 'table' %>

<script type="text/javascript" charset="utf-8">
  $('#search-btn').click(function(){
    var keyword = $("#keyword").val()
    var type = $('#special-type-select').val()
    location.replace( 'additions?title='  + keyword)
  });
</script>
